In [1]:
from BP_mining.heuristic_miner import HeuristicMiner
from BP_mining.log_wrapper import LogWrapper

In [2]:
import numpy as np

In [3]:
#log_file_path = "./sample_logs/my-example_short.xes"

heuristic = HeuristicMiner(log_file_path)
logs = LogWrapper(log_file_path)

### Logi z wykladu

In [4]:
heuristic.log.to_list()

['ABCDFG', 'ABCDEG', 'ACBDFG']

### Jedna metoda odpala wszystko:

In [5]:
heuristic.execute_algorithm()

### Po kolei

In [6]:
heuristic.set_relation_frequency_matrix()
heuristic.get_relation_frequency_matrix(normalized=False)

    A    B    C    D    E    F    G
A NaN  2.0  1.0  NaN  NaN  NaN  NaN
B NaN  NaN  2.0  1.0  NaN  NaN  NaN
C NaN  1.0  NaN  2.0  NaN  NaN  NaN
D NaN  NaN  NaN  NaN  1.0  2.0  NaN
E NaN  NaN  NaN  NaN  NaN  NaN  1.0
F NaN  NaN  NaN  NaN  NaN  NaN  2.0
G NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [7]:
from IPython.display import display

heuristic.set_2loop_frequency_matrix()
#print("Metoda get do tabeli 2loop zwraca: ")
#display(heuristic.get_2loop_frequency_matrix(normalized=False))
#print("\n---------\n")
#print("Ale atyrybut 2loop matrix ma takie indeksy, bo prosciej: ")
#display(heuristic.rel_2loop_frequency_df)

# Po normalizacji

In [8]:
heuristic.normalize_relation_frequency_matrix()
matrix = heuristic.get_relation_frequency_matrix()
display(heuristic.get_relation_frequency_matrix())
relations = np.array(heuristic.get_relation_frequency_matrix())
relations

          A         B         C         D    E         F         G
A       NaN  0.666667  0.500000       NaN  NaN       NaN       NaN
B -0.666667       NaN  0.250000  0.500000  NaN       NaN       NaN
C -0.500000 -0.250000       NaN  0.666667  NaN       NaN       NaN
D       NaN -0.500000 -0.666667       NaN  0.5  0.666667       NaN
E       NaN       NaN       NaN -0.500000  NaN       NaN  0.500000
F       NaN       NaN       NaN -0.666667  NaN       NaN  0.666667
G       NaN       NaN       NaN       NaN -0.5 -0.666667       NaN

array([[        nan,  0.66666667,  0.5       ,         nan,         nan,
                nan,         nan],
       [-0.66666667,         nan,  0.25      ,  0.5       ,         nan,
                nan,         nan],
       [-0.5       , -0.25      ,         nan,  0.66666667,         nan,
                nan,         nan],
       [        nan, -0.5       , -0.66666667,         nan,  0.5       ,
         0.66666667,         nan],
       [        nan,         nan,         nan, -0.5       ,         nan,
                nan,  0.5       ],
       [        nan,         nan,         nan, -0.66666667,         nan,
                nan,  0.66666667],
       [        nan,         nan,         nan,         nan, -0.5       ,
        -0.66666667,         nan]])

In [9]:
heuristic.normalize_2loop_frequency_matrix()
display(heuristic.get_2loop_frequency_matrix())
loops = np.array(heuristic.get_2loop_frequency_matrix())

      A   B   C   D   E   F   G
A_A NaN NaN NaN NaN NaN NaN NaN
B_B NaN NaN NaN NaN NaN NaN NaN
C_C NaN NaN NaN NaN NaN NaN NaN
D_D NaN NaN NaN NaN NaN NaN NaN
E_E NaN NaN NaN NaN NaN NaN NaN
F_F NaN NaN NaN NaN NaN NaN NaN
G_G NaN NaN NaN NaN NaN NaN NaN

In [10]:
T_0 = list(matrix.columns)
T_1 = list(logs.get_first_tasks())
T_n = list(logs.get_last_tasks())
#list(logs.task.unique())

tasks = T_0