In [1]:
from BP_mining.heuristic_miner import HeuristicMiner

In [2]:
log_file_path = "./sample_logs/heuristic_log.xes"

In [5]:
heuristic = HeuristicMiner(log_file_path)

### Logi z wykladu

In [15]:
heuristic.log.to_list()

['abdcfgfh', 'abdcfh', 'abbcdfgfh', 'abbdcfgfh', 'abcdeh', 'abbcdeh']

### Jedna metoda odpala wszystko:

In [ ]:
heuristic.execute_algorithm()

### Po kolei

In [7]:
heuristic.set_relation_frequency_matrix()
heuristic.get_relation_frequency_matrix(normalized=False)

    a    b    c    d    e    f    g    h
a NaN  6.0  NaN  NaN  NaN  NaN  NaN  NaN
b NaN  3.0  3.0  3.0  NaN  NaN  NaN  NaN
c NaN  NaN  NaN  3.0  NaN  3.0  NaN  NaN
d NaN  NaN  3.0  NaN  2.0  1.0  NaN  NaN
e NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0
f NaN  NaN  NaN  NaN  NaN  NaN  3.0  4.0
g NaN  NaN  NaN  NaN  NaN  3.0  NaN  NaN
h NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [14]:
from IPython.display import display

heuristic.set_2loop_frequency_matrix()
print("Metoda get do tabeli 2loop zwraca: ")
display(heuristic.get_2loop_frequency_matrix(normalized=False))
print("\n---------\n")
print("Ale atyrybut 2loop matrix ma takie indeksy, bo prosciej: ")
display(heuristic.rel_2loop_frequency_df)

Metoda get do tabeli 2loop zwraca:

      a   b   c   d   e   f    g   h
a_a NaN NaN NaN NaN NaN NaN  NaN NaN
b_b NaN NaN NaN NaN NaN NaN  NaN NaN
c_c NaN NaN NaN NaN NaN NaN  NaN NaN
d_d NaN NaN NaN NaN NaN NaN  NaN NaN
e_e NaN NaN NaN NaN NaN NaN  NaN NaN
f_f NaN NaN NaN NaN NaN NaN  3.0 NaN
g_g NaN NaN NaN NaN NaN NaN  NaN NaN
h_h NaN NaN NaN NaN NaN NaN  NaN NaN

---------

Ale atyrybut 2loop matrix ma takie indeksy, bo prosciej:

    a   b   c   d   e   f    g   h
a NaN NaN NaN NaN NaN NaN  NaN NaN
b NaN NaN NaN NaN NaN NaN  NaN NaN
c NaN NaN NaN NaN NaN NaN  NaN NaN
d NaN NaN NaN NaN NaN NaN  NaN NaN
e NaN NaN NaN NaN NaN NaN  NaN NaN
f NaN NaN NaN NaN NaN NaN  3.0 NaN
g NaN NaN NaN NaN NaN NaN  NaN NaN
h NaN NaN NaN NaN NaN NaN  NaN NaN

# Po normalizacji

In [10]:
heuristic.normalize_relation_frequency_matrix()
heuristic.get_relation_frequency_matrix()

    a         b     c     d         e     f    g         h
a NaN  0.857143   NaN   NaN       NaN   NaN  NaN       NaN
b NaN  0.750000  0.75  0.75       NaN   NaN  NaN       NaN
c NaN       NaN   NaN  0.00       NaN  0.75  NaN       NaN
d NaN       NaN  0.00   NaN  0.666667  0.50  NaN       NaN
e NaN       NaN   NaN   NaN       NaN   NaN  NaN  0.666667
f NaN       NaN   NaN   NaN       NaN   NaN  0.0  0.800000
g NaN       NaN   NaN   NaN       NaN  0.00  NaN       NaN
h NaN       NaN   NaN   NaN       NaN   NaN  NaN       NaN

In [11]:
heuristic.normalize_2loop_frequency_matrix()
heuristic.get_2loop_frequency_matrix()

      a   b   c   d   e   f     g   h
a_a NaN NaN NaN NaN NaN NaN   NaN NaN
b_b NaN NaN NaN NaN NaN NaN   NaN NaN
c_c NaN NaN NaN NaN NaN NaN   NaN NaN
d_d NaN NaN NaN NaN NaN NaN   NaN NaN
e_e NaN NaN NaN NaN NaN NaN   NaN NaN
f_f NaN NaN NaN NaN NaN NaN  0.75 NaN
g_g NaN NaN NaN NaN NaN NaN   NaN NaN
h_h NaN NaN NaN NaN NaN NaN   NaN NaN